!!!

%html
  %head
    %title CLANK LLC
    %link(rel='stylesheet' href='/stylesheets/application.css' type='text/css' media="screen, projection")
    %link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200' rel='stylesheet' type='text/css')

  %body= yield
